<div class="text-center mb-8">
  <span class="px-8 py-3 rounded transition-colors text-gray-500 dark:text-gray-400">
  <hr>
  Future posts
  </span>
</div>

<div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
<div class="p-2">
    {{ if .Site.Params.futureImage }}
    <div class="relative">
      <img src="{{- .Site.Params.futureImage -}}" class="rounded-lg shadow-sm w-full h-52 object-cover" />
      <div class="absolute top-4 right-4 rounded shadow bg-white text-gray-900 dark:bg-gray-900 dark:text-white text-sm px-2 py-0.5">
        {{ .Site.Params.futureMessage }}
      </div>
    </div>
   {{ end }}
    <div class="my-2 text-xl font-semibold text-gray-500 dark:text-gray-400">
      {{ .Site.Params.futureTitle }}
    </div>
    <div class="text-gray-500 dark:text-gray-400">{{ .Site.Params.futureSubtitle }}</div>
  </div>
</div>
